{%- extends "base.html" %}

{% block title %}Chatty - Login{% endblock %}

{% block body %}
<div class="container-sm"
    <div class="row gx-5">
        <div class="col">
            <form class="login-form" action="" method="POST">
                <div class="mb-3">
                    <label for="username" class="form-label">Name</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Enter Your Name" minlength="2" required size="20">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
